:root {

    --White: rgb(255, 255, 250);
    --Black: rgb(20, 20, 20);
    --Yellow: rgb(204, 158, 53);
    --Green: rgb(29, 146, 0);
    --Red: rgb(155, 0, 0);
    --pink: rgb(254, 0, 112);
    --PurpleDarker: rgb(43, 11, 50);
    --Popup: rgba(47, 28, 60, 0.95);
    --PurpleGradientBkg: linear-gradient(50deg, var(--PurpleDarker), rgba(255, 255, 255, 0) 90.71%),
        linear-gradient(200deg, var(--PurpleDarker), rgba(255, 255, 255, 0) 30.71%),
        linear-gradient(127deg, var(--PurpleDarker), rgba(255, 255, 255, 0) 70.71%),
        linear-gradient(336deg, var(--PurpleDarker), rgba(255, 255, 255, 0) 95.71%);

    --backG-deco: rgba(0, 0, 0, 0.2);
    --backGDarker-deco: rgba(0, 0, 0, 0.7);
    --backGDarkerPlus-deco: rgba(0, 0, 0, 0.9);
}

@font-face {
    font-family: 'Lemon Milk';
    src: url('../assets/fonts/LemonMilk.otf');
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('../assets/fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url('../assets/fonts/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family: 'NeutraText Light';
    src: url('../assets/fonts/NeutraText-Light.otf');
}

@font-face {
    font-family: 'NeutraText';
    src: url('../assets/fonts/NeutraText-Book.otf');
}

@font-face {
    font-family: 'NeutraText Bold';
    src: url('../assets/fonts/NeutraText-Bold.otf');
}

/* PROPRIETES COMMUNES */

html {
    font-size: 62.5%;
    scroll-behavior: smooth; /* pour les liens des encres, scroll plutôt que téléportation, tous les défilements sont impacté sans disctinction */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*>a {
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'NeutraText';
    background-image: url('../assets/images/contenu/FondVert.jpg');
}

/* PAGE D'ACCUEIL */
.home {
    background-size: cover;
}

.home_logo {
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 275px;
    opacity: 0;
}

.name {
    font-family: 'Lemon Milk';
    text-align: center;
    text-shadow: 0 0 px black;
    color: var(--White);
    font-size: 25px;
    margin-top: -45px;
    opacity: 0;
}

.enter_button {
    display: block;
    height: 18px;
    margin: auto;
    margin-top: 30px;
    opacity: 0;
}

.enter_button:hover {
    height: 20px;
}

#loader {
    width: 15px;
    height: 2px;
    background-color: var(--White);
    margin: auto;
    margin-top: 0px;
}

#loader {
    animation-name: loading;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.enter_button,
.home_logo,
.name {
    animation-name: EntrerAppear;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes EntrerAppear {
    0% {
        opacity: 0;
        transform: translateY(0)
    }

    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: scaleX(1);
    }

    80% {
        transform: scaleX(20);
        opacity: 1;
        height: 2px;
    }

    100% {
        transform: scaleX(25);
        opacity: 0;
        height: 0px;
    }
}

/* PORTFOLIO ----------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-family: 'Caviar Dreams';
    text-transform: capitalize;
}

h1 {
    font-size: 20px;
    color: var(--White);
}

h2 {
    color: var(--Yellow);
    font-size: 25px;
    margin-bottom: 50px;
}

h2::before {
    content: " < ";
}

h2::after {
    content: " /> ";
}

header {
    position: relative;
    background-image: url('../assets/images/contenu/Photo.jpg');
    background-size: 150%;
    background-position: -150px -30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 0 0 0;
    z-index: 1;
}

.header_principal {
    /* Pour dissocier la "légende du header de la nav */
    display: flex;
    flex-direction: column;

}

.shadow_header {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(43, 43, 43, 0));
}

.logoETnav {
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.divlogo_header {
    width: 300px;
    margin: auto;
    text-shadow: 0 0 1px rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}

.logo_header {
    width: 75px;
    margin: auto;
}

.name_header {
    font-size: 25px;
    margin: -30px 0 10px 0;
    font-family: 'Lemon Milk';
}

nav {
    display: flex;
    flex-direction: column;
    font-family: 'Caviar Dreams Bold';
    text-transform: uppercase;
    text-align: center;
    flex-wrap: wrap;
}

nav a {
    font-size: 20px;
    color: var(--White);
    text-shadow: 0 0 1px rgb(20, 20, 20);
    padding: 10px 25px;
}

nav a:hover {
    color: var(--Yellow);
    background-color: var(--backGDarker-deco);
}

header h2 {
    text-align: left;
    font-size: 20px;
    margin: 25px 0 0 0;
    width: 325px;
    padding: 10px 15px;
    background-color: var(--backGDarker-deco);
}

.citation,
.citation2 {
    width: 80%;
    margin: auto;
    font-size: 20px;
    color: var(--White);
    margin-bottom: 50px;
}

.citation {
    margin-bottom: 0px;
}

.bordure {
    width: 100px;
    height: 50px;
    margin: auto;
    border-top: 1px solid var(--Yellow);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

footer div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 25px;
}

footer a {
    color: var(--Yellow);
    font-size: 18px;
    margin-bottom: 25px;
}

footer a:visited {
    color: var(--Yellow);
}

.main_page {
    background-image: url('../assets/images/contenu/FondVert.jpg');
    width: 100%;
    margin: auto;
    padding: 50px 0;
}


/* PROJETS */

h3 {
    color: var(--Yellow);
    font-size: 20px;
    margin: 25px 0;
}

.card_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.radius-top {
    border-radius: 15px 15px 0 0;
}
.radius-bottom {
    border-radius: 0 0 15px 15px;
}
.radius-both {
    border-radius: 15px 15px 15px 15px;
}

.flex_grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 225px;
    margin: 25px auto;
    background-color: var(--White);
    padding-bottom: 25px;
}

.card:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 0 10px 5px var(--Black);
}

.card img {
    width: 100%;
}

.coworker {
    position: absolute;
    top: 50px;
}

.card p,
.card li {
    color: var(--Black);
    margin: 25px;
    font-family: 'NeutraText';
    list-style: none;
}

.card li {
    margin-left: 50px;
}

.fa-chevron-up,
.fa-chevron-down {
    margin-top: 25px;
}

.fa-chevron-up:hover,
.fa-chevron-down:hover {
    cursor: pointer;
}

.toggle {
    display: none;
}
.contentToToggle {
    position: relative;
    max-height: 300px;
    overflow: auto;
    border-top: 1px solid var(--Yellow);
    border-bottom: 1px solid var(--Yellow);
    margin-top: 50px;
}
.scroll-icon {
    position: absolute;
    right: 20px;
    top: 50px;
    color: var(--Yellow);
}

.tab-button,
.openPopup_btn,
.button,
.button_book,
.button_contact,
.github-btn,
form button {
    display: inline-block;
    font-family: 'NeutraText';
    text-transform: capitalize;
    color: var(--Black);
    text-align: left;
    padding: 5px 15px;
    background-color: var(--Yellow);
    border: 1px solid var(--Yellow);
    cursor: pointer;
    /* sans ça le hover fait redimensionner l'élément */
}

.openPopup_btn {
    color: var(--White);
    background: var(--PurpleGradientBkg);
    border: 1px solid var(--PurpleDarker);
    font-size: 16px;
}

.github-figure {
    position: relative;
    margin-top: 25px;
}

.github-figure:hover {
    transform: scale(1.02);
}

.github-img {
    display: block;
    width: 100px;
    margin: auto;
}

.github-btn {
    position: absolute;
    width: 155px;
    bottom: -15px;
    left: -25px;
    padding: 5px 15px;
    color: var(--Black) !important;
}

.button, .openPopup_btn {
    margin-bottom: 25px;
}

.button_book {
    margin-top: 35px;
    margin-bottom: 25px;
}

.button:hover,
.button_book:hover,
.button_contact:hover {
    border: 1px solid var(--Yellow);
    color: var(--Yellow);
    background-color: transparent;
    transform: scale(1.02);
}

.disabled:hover {
    color: var(--White);
    background-color: rgb(175, 175, 175);
    border: 1px solid rgb(175, 175, 175);
}

/* POPUP */
  
body.noscroll {
    overflow: hidden;
}

.popup_ctn {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: var(--backGDarkerPlus-deco);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0px 0px 10px 5px var(--Black);
    animation: fadeIn 0.3s ease-in-out;
    overflow-y: auto;
}/* 
#ozesStorePopup {
    background-color: var(--backGDarkerPlus-deco);
} */

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }

.popup_box {
    width: 100%;
    height: 100%;
    color: var(--White);
}

.fonctionnalities-ctn {
    display: flex;
    flex-direction: column;
}
 
.fonctionnalities-title {
    font-family: 'Caviar Dreams Bold';
    text-transform: uppercase;
    margin: 25px 0;
}
 
.fonctionnalities li {
    list-style: none;
    line-height: 30px;
}
 
.fonctionnalities li::before {
    content: "· ";
}
 
.fonctionnalities li {
    margin-bottom: 5px;
}

.popup_box figcaption {
    color: var(--White);
    margin: 5px 0px 10px 5px;
}

.popup_ctn figure {
    width: 100%;
}
.popup_ctn figure img {
    width: 100%;
}

.closePopup_btn {
    position: fixed;
    width: 30px;
    height: 30px;
    font-size: 18px;
    top: 20px;
    left: 30px;
    background: var(--Red);
    color: var(--Black);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.tabs {
    margin-bottom: 25px;
}
.tab-button:hover {
    transform: translatey(-2px);
}
.tab-button.active {
    transform: translatey(-4px);
    background-color: var(--White);
    border: none;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: flex;
}


/* COMPETENCES */

h4 {
    color: var(--Green);
    font-size: 18px;
}

.skills, .countdown_ctn, .certified-ctn {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -25px;
    /* sert à coller les blocs compétences au projet précédent */
    padding: 25px;
    background-color: var(--White);
}

.technologies,
.technologies-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.technologies-header {
    width: auto;
    justify-content: left;
    margin: 25px;
}

.technologies-header>img {
    margin: 0 25px 25px 0;
}

.logo,
.merge_logo {
    width: 35px;
    height: 35px;
}

.typescript {
    width: 30px;
    height: 30px;
}

.technologies>.merge_logo {
    margin: 0;
}

.merge_logo {
    position: relative;
    margin: 0 25px 25px 0;
}

.merge_logo1 {
    width: 100%;
}

.merge_logo2 {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 60%;
    left: 30%;
}

.design_skills {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--Yellow);
}


/* TOUTES MES COMPETENCES */

.skills_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.skill_card {
    position: relative;
    width: 340px;
    height: 340px;
    margin-bottom: 25px;
    cursor: pointer;
}

.recto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: 1;
}

#design-recto {
    background-image: url('../assets/images/contenu/SkillsDesign.jpg');
}

#devprincipal-recto {
    background-image: url('../assets/images/contenu/SkillsDevFront.jpg');
}

#ai-recto {
    background-image: url('../assets/images/contenu/SkillsAi.jpg');
    background-position: 0 -100px;
}

#DevOps-recto {
    background-image: url('../assets/images/contenu/Ops.jpg');
    background-position: -55px 0;
}

#devPlus-recto {
    background-image: url('../assets/images/contenu/SkillsPlus+.jpg');
    background-position: -25px 0;
}

#outilsweb-recto {
    background-image: url('../assets/images/contenu/SkillsOutilsWeb.jpg');
}

#loisirs-recto {
    background-image: url('../assets/images/contenu/SkillsLoisirs.jpg');
    background-position: 0 -100px;
}

#softskills-recto {
    background-image: url('../assets/images/contenu/SkillsSoft.jpg');
}

#veille-recto {
    background-image: url('../assets/images/contenu/SkillsVeille.jpg');
}

.skill_card-title-div {
    height: 340px;
    /* = .skill_card : height*/
    background-color: var(--backGDarker-deco);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill_card-title {
    margin: 0;
    /* réinitialise la margin du h3 général */
    z-index: 10;
    font-family: 'Caviar Dreams Bold';
}


.verso {
    position: absolute;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--backGDarkerPlus-deco);
    color: var(--White);
    z-index: 20;
    text-align: center;
    overflow-y: auto;
    padding: 50px 0;
}

.verso ul {
    margin-bottom: 15px;
}

.verso p {
    font-family: 'NeutraText Bold';
    color: var(--Yellow);
    font-size: 20px;
    margin-bottom: 10px;
}

.verso li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 5px;
}

.popup_ctn::-webkit-scrollbar,
.contentToToggle::-webkit-scrollbar,
.verso::-webkit-scrollbar {  /* chrome, Safari, Edge */
    width: 8px;
}

.popup_ctn::-webkit-scrollbar-thumb,
.contentToToggle::-webkit-scrollbar-thumb,
.verso::-webkit-scrollbar-thumb {
    background-color: var(--Yellow);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.popup_ctn::-webkit-scrollbar-thumb:hover,
.contentToToggle::-webkit-scrollbar-thumb:hover,
.verso::-webkit-scrollbar-thumb:hover {
    background-color: var(--Yellow);
}

.popup_ctn::-webkit-scrollbar,
.contentToToggle::-webkit-scrollbar,
.verso::-webkit-scrollbar {
    display: none;
  }

.popup_ctn,
.contentToToggle,
.verso { /* Firefox */
    scrollbar-width: thin; /* auto | thin | none */
    scrollbar-color: var(--Yellow) transparent; /* thumb color | track color */
  }

.skillsShow,
.skillsHide {
    position: absolute;
    color: var(--Yellow);
    z-index: 30;
}

.skillsShow {
    top: 15px;
    right: 25px;
}

.skillsHide {
    bottom: 35px;
    right: 25px;
}

.Yt-link {
    color: var(--White);
    background: var(--Red);
    border-radius: 10px;
    padding: 5px 10px;
}

.Yt-li {
    margin: 15px 0 !important;
}


.hiddenList {
    display: none;
}


/* HISTOIRE + PAGE CGU*/

#journey,
.CGU {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.story_telling p,
#journey>p,
.CGU p {
    width: 85%;
    margin: 25px auto;
    font-size: 18px;
    line-height: 30px;
    color: var(--White);
}

.CGU p {
    margin: 10px auto;
}

#journey>p {
    font-style: italic;
}


/* HORLOGE/CONTACT ------------------------------------------------------*/

#contact {
    width: 100%;
    padding: 25px;
}

.contact_title {
    margin-top: 0;
    color: var(--White);
}

.div_flex {
    position: relative;
    width: 280px;
    margin: auto;
}

.timer,
.timer_clock_hand {
    display: block;
    width: 85%;
    margin: auto;
    /* width du .div_flex */
}

.timer_clock_hand {
    position: absolute;
    top: 0;
    left: 20px;
    animation: TimerRotate 20s linear 1s infinite;
    animation-timing-function: steps(1);
}

.photo {
    position: absolute;
    display: block;
    width: 30%;
    bottom: 20%;
    right: 20%;
    border-radius: 50%;
    animation: Pulse 2s infinite;
}

#CV {
    position: absolute;
    display: block;
    bottom: 25%;
    right: 25%;
    font-family: 'Caviar Dreams Bold';
    font-size: 18px;
    color: var(--White);
}

.picto_contact_phone {
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 10;
}

.picto_contact_mail {
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: 10;
}

.btn {
    padding: 15px 14px;
    background-image: url('../assets/images/contenu/Fond.jpg');
    border-radius: 30px;
    color: var(--White);
    box-shadow: -7px -7px 20px 0 rgba(0, 0, 0, 0.7),
        7px 7px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(0, 0, 0, 0.7),
        inset 2px 2px 20px 0 rgba(0, 0, 0, 0.2), -7px -7px 20px 0 rgba(0, 0, 0, 0.7),
        7px 7px 10px 0 rgba(0, 0, 0, 0.2);
    ;

}

.web3forms-form {
    width: 90%;
    margin: auto;
}

.web3forms-form p {
    color: var(--White);
    line-height: 30px;
    margin-bottom: 25px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
textarea {
    width: 100%;
    font-family: 'NeutraText';
    font-size: 16px;
    margin: 15px 0;
    padding: 10px;
}

textarea {
    height: 150px;
}

.h-captcha {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    /* aligne le contenu de la div*/
}

/* Maquettes html */

.maquettesHtml-ctn {
    width: 80%;
    margin: auto;
}

.maquettesHtml-ctn h3 {
    color: var(--White);
}

.maquettesHtml-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.maquettesHtml-img img {
    width: 100%;
    margin-bottom: 25px;
    box-shadow: 0 0 10px 5px var(--backGDarker-deco);
}

.maquettesHtml-legende {
    color: var(--White);
    margin-bottom: 50px;
}

#countdown {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}
#month-days, #hours-minutes-seconds {
    display: flex;
    justify-content: center;
    text-align: center;
}
.countdown-one {
    position: relative;
    width: 75px;
    height: 75px;
    padding: 0;
    margin: 5px;
    border: 2px solid var(--Yellow);
    border-radius: 50px;
}
.countdown-number {
    line-height: 55px;
    font-size: 18px;
}
.countdown-caption {
    width: 90px;
    padding: 5px 0;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, 0);
    background-color: var(--White);
    font-size: 12px;
}
.certified {
    text-align: center;
    color: var(--Yellow);
}
.fa-graduation-cap {
    margin: 25px auto;
    color: var(--Yellow);
}

.hidden {
    display: none;
}