/* DESKTOP */

@media screen and (min-width: 1201px) {

    /* GENERAL */

    .logoETnav {
        width: 90%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: first baseline;
    }

    nav {
        margin: 0;
        flex-direction: row;
        justify-content: flex-end;
    }

    /* PROJETS */

    .card_div {
        width: 32%;
    }

    .fonctionnalities {
        width: 65%;
    }

    .popup_ctn {
        top: 50px;
        right: 200px;
        bottom: 0;
        left: 200px;
    }

    .closePopup_btn {
        top: 70px;
        left: 230px;
    }

    /* MON HISTOIRE */

    #journey {
        width: auto;
    }

    .story_telling p {
        width: 75%;
    }

    /* TOUTES MES COMPETENCES */

    .skills_list {
        width: 90%;
    }

    .skill_card {
        width: 340px;
        height: 340px;
    }

    /* HORLOGE/CONTACT ------------------------------------------------------*/
    .web3forms-form p {
        width: 50%;
        margin: 25px auto;
    }

    input,
    textarea {
        width: 50%;
    }
}