/* TABLETTE */

@media screen and (min-width: 426px) {
    .home {
        background-image: url('../assets/images/contenu/Fond.jpg');
    }

    .home_logo {
        margin-top: 125px;
    }

    @keyframes loading {
        0% {
            transform: scaleX(1);
        }

        80% {
            transform: scaleX(35);
            opacity: 1;
            height: 2px;
        }

        100% {
            transform: scaleX(40);
            opacity: 0;
            height: 0px;
        }
    }

    /* PORTFOLIO ----------------------------------------------- */

    header {
        background-image: url('../assets/images/contenu/photo_sz.png');
        background-size: 150px;
        background-position: 50% 125px;
        background-repeat: no-repeat;
    }

    .shadow_header {
        height: 150px;
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(43, 43, 43, 0));
    }

    .name_header {
        font-size: 25px;
        margin: -30px 0 0 0;
        font-family: 'Lemon Milk';
    }

    nav {
        flex-direction: row;
        justify-content: center;
        margin: 0px auto;
    }

    .presentation {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    header h2 {
        margin-top: 0px;
    }

    .technologies-header>img {
        margin: 0 0 0 25px;
    }

    .technologies-header>.merge_logo {
        margin: 0 0 0 25px;
    }

    footer div {
        flex-direction: row;
        margin-bottom: 25px;
    }

    /* PROJETS */

    .flex_grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card_div {
        width: 45%;
    }
    
    /* HISTOIRE + PAGE CGU*/

    .CGU p {
        width: 50%;
        font-size: 20px;
    }



    /* TOUTES MES COMPETENCES */

    .skills_list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .skill_card {
        margin: 5px 5px 5px 5px;
    }

    /* HORLOGE/CONTACT ------------------------------------------------------*/
    .web3forms-form p {
        width: 80%;
        margin: 25px auto;
    }

    input,
    textarea {
        width: 80%;
    }

    /* Maquettes html */

    .maquettesHtml-img {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .mobile img {
        width: 45%;
    }
}